@model Models.MatchDTO

@{
    ViewData["Title"] = "Delete";
}

<h1>Matches</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MatchID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MatchID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Result)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Result)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="MatchID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>