@model Models.ChampionshipCommandDTO

@{
    ViewData["Title"] = "Update";
}
<h1>Championship Commands</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ChampionshipCommandID" />
            <div class="form-group">
                <label asp-for="CommandID" class="control-label"></label>
                <input asp-for="CommandID" class="form-control" />
                <span asp-validation-for="CommandID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChampionshipID" class="control-label"></label>
                <input asp-for="ChampionshipID" class="form-control" />
                <span asp-validation-for="ChampionshipID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}